.admin-nav {
  background: rgb(20,183,255);
  background: linear-gradient(90deg, rgba(20,183,255,1) 0%, rgba(80,201,255,1) 100%);
  box-shadow: 2.5px 2.5px 5px $translucent-black;
  color: #fff;
  padding: 1.5% 2.5%;
  min-width: 150px;
}

.admin-nav-list {
  padding: 2.5% 0 2.5% 0;
  list-style-type: none;
  li {
    border-bottom: solid 2px white;
    font-size: 18px;
    padding: 5% 0;
    margin-bottom: 10%;
    cursor: pointer;
  }
}

.search-container {
  @include adjust-display(flex-end);
  margin-bottom: 2.5%;
}

.search-users {
  @include border(0.5px, 2.5px, grey);
  width: 30%;
  min-width: 150px;
  font-size: 18px;
  padding: 0.5% 0 0.5% 1%;
  &::placeholder {
    font-style: italic;
  }
}
