.form-close-container {
  position: absolute;
  top: 0;
  right: 5%;
}

.book-form-submit {
  font-size: 20px;
  margin-top: 5%;
  height: 7.5vh;
  min-height: 50px;
  cursor: pointer;
}

.form-row {
  padding: 5% 0 1% 0;
  @include adjust-display(space-between);
}

.form-button-row {
  @include adjust-display(space-between);
}

.date-container {
  width: 47.5%;
  input {
    width: 96.5%;
  }
}

.confirm-trip-image {
  height: 40%;
}

.destination-confirmation-submit {
  height: 7.5%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
