// small screen size (sm)
@media (max-width: 750px) {
  .admin-nav {
    position: absolute;
    top: 0;
    left: 0;
    @include adjust-display(center);
    width: 100%;
    h1 {
      display: none;
    }
    ul {
      width: 90%;
      padding: 0;
      display: inline-block;
    }
    li {
      padding: 0;
      margin: 2.5%;
      display: inline-block;
      font-size: 15px;
    }
  }
  .search-container {
    margin-top: 150px;
  }
  .trip-modal {
    min-height: 100vh;
    min-width: 100vw;
  }
  .book-trip-modal {
    min-height: 80vh;
    min-width: 80vw;
  }
}
