// small screen size (sm)
@media (max-width: 750px) {
  .admin-nav {
    display: none;
  }
  .trip-modal {
    min-height: 100vh;
    min-width: 100vw;
  }
  .book-trip-modal {
    min-height: 80vh;
    min-width: 80vw;
  }
}
