@mixin adjust-display($justify-content) {
	display: flex;
	justify-content: $justify-content;
}

@mixin border($thickness, $radius, $color) {
 	border: solid $thickness $color;
 	border-radius: $radius;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}
